<button (click)="login()" *ngIf="!accountConnected">
  <span>Connect</span>
</button>


<button (click)="logout()" *ngIf="!!accountConnected">
  <span>Logout</span>
</button>


<div *ngIf="!!accountConnected">
  <span>Account connected: {{accountConnected}}</span>
</div>

<input id="upload_picture" #picture type="file" accept='image/* | video/*' (change)="uploadFile(picture.files)" />

<img class="myImg" src="https://bafybeifu5oxmybax6muuvbm7erb2r4iz2fbtqvwsgaytted3griowln4u4.ipfs.dweb.link/kristin-wilson-z3htkdHUh5w-unsplash.jpg" alt="">


