<!-- <button (click)="login()" *ngIf="!accountConnected">
  <span>Connect</span>
</button>


<button (click)="logout()" *ngIf="!!accountConnected">
  <span>Logout</span>
</button>


<div *ngIf="!!accountConnected">
  <span>Account connected: {{accountConnected}}</span>
</div>

<input id="upload_picture" #picture type="file" accept='image/* | video/*' multiple (change)="uploadFileWithProgress(picture.files)" />

<div *ngIf="!!myLinkToShow">
  <img class="myImg"  [src]="myLinkToShow" alt="">
</div> -->
<router-outlet></router-outlet>